<!-- Boostrap Core -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/sb-admin.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/font-awesome.min.css') }}">

{#
<!-- CDN version -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap/bootstrap-theme.min.css">
#}
<!-- MEMT custom CSS -->
<link href="{{ url_for('static', filename='css/memt.css')}}" rel="stylesheet" type="text/css">

<!-- Custom Fonts
-->
