<div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul style="z-index:-1" class="nav navbar-nav side-nav">
        <li class="active" style="width:100%">
            <p class="memt-title" style="color: #222;text-shadow: 0px 2px 3px #555;width:100%; text-align: center; font-size: 30px">MEMT</p>
            <p class="memt-subtitle" style="color: #222;text-shadow: 0px 2px 3px #555;width:100%; text-align: center; font-size: 10px">Massive Early Malware Triage</p>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a href=""><p class="feed_title">Nuevo análisis</p><p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p></a>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a class="strain" href=""><p class="feed_title">Nueva cepa</p><p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p></a>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a href=""><p class="feed_title">Nuevo análisis</p><p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>  </a>
        </li>
        <li>

        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
