<div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul id="feed" style="z-index:-1" class="nav navbar-nav side-nav">
        <li class="active" style="width:100%">
            <p class="memt-title">MEMT</p>
            <p class="memt-subtitle">Massive Early Malware Triage</p>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a class="strain" href=""><p class="feed_title">New strain found!</p><p>Checkout this link and get more info.</p></a>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a href=""><p class="feed_title">Sprading info</p><p>Frist strain contact out of the initial country.</p></a>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a href="#"><p class="feed_title">News!</p><p>New version of the desktop client avaliable v0.0.1β.<br/>Check it out in the download section.</p></a>
        </li>
        <li class="feed_item">
            <i class="fa fa-fw fa-bullhorn fa-2x"></i><a class="strain" href=""><p class="feed_title">New strain found!</p><p>Checkout this link and get more info.</p></a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
