<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">
    <img style="margin-left: 62%; height: 100px; width: 100px" src="{{ url_for('static', filename='img/logo.png' )}}" />

    </a>
</div>
<!-- Top Menu Items -->
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav menu">
        <li>
            <a href="{{ url_for('index.index') }}">
                <i class="fa fa-fw fa-dashboard"></i>
                Index
            </a>
        </li>
        <li>
            <a href="{{ url_for('upload.index') }}">
                <i class="fa fa-fw fa-cloud-upload"></i>
                Upload Sample
            </a>
        </li>
        <li>
        <!--<li>
            <a href="index.html">
                <i class="fa fa-fw fa-fire"></i>
                Latest analysis
            </a>
        </li>-->
        <li>
            <a href="index.html">
                <i class="fa fa-fw fa-download"></i>
                CLI Download
            </a>
        </li>
         <li>
            <a href="index.html">
                <i class="fa fa-fw glyphicon-info-sign"></i>
                F.A.Q.
            </a>
        </li>
        <li>

        </li>
    </ul>
    <div class="input-group search-box">
    <input type="text" class="form-control" placeholder="Search sample...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
    </span>
</div>
</div>
