    <script src="{{ url_for('static', filename='js/ammap/ammap.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/ammap/latlong.js') }}" type="text/javascript"></script>

    <!-- map file should be included after ammap.js -->
    <script src="{{ url_for('static', filename='js/ammap/maps/js/worldLow.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/ammap/themes/black.js') }}" type="text/javascript"></script>
    <script>

    /*
    although ammap has methos like getAreaCenterLatitude and getAreaCenterLongitude,
    they are not suitable in quite a lot of cases as the center of some countries
    is even outside the country itself (like US, because of Alaska and Hawaii)
    That's why wehave the coordinates stored here
    */


            var mapData = [{
                "code": "AF",
                "name": "Afghanistan",
                "value": 22,
                "color": "#eea638"
            }, {
                "code": "ZW",
                "name": "Zimbabwe",
                "value": 200,
                "color": "#de4c4f"
            }, {
                "code": "CN",
                "name": "China",
                "value": 120,
                "color": "#de4c4f"
            }];

            var map;
            var minBulletSize = 3;
            var maxBulletSize = 70;
            var min = Infinity;
            var max = -Infinity;

            AmCharts.theme = AmCharts.themes.black;

            // get min and max values
            for (var i = 0; i < mapData.length; i++) {
                var value = mapData[i].value;
                if (value < min) {
                    min = value;
                }
                if (value > max) {
                    max = value;
                }
            }

            // build map
            AmCharts.ready(function() {
                map = new AmCharts.AmMap();


                map.areasSettings = {
                    unlistedAreasColor: "#FFFFFF",
                    unlistedAreasAlpha: 0.1
                };
                map.imagesSettings = {
                    balloonText: "<span style='font-size:14px;'><b>[[title]]</b>: [[value]]</span>",
                    alpha: 0.6
                }

                var dataProvider = {
                    mapVar: AmCharts.maps.worldLow,
                    images: []
                }

                // create circle for each country

                // it's better to use circle square to show difference between values, not a radius
                var maxSquare = maxBulletSize * maxBulletSize * 2 * Math.PI;
                var minSquare = minBulletSize * minBulletSize * 2 * Math.PI;

                // create circle for each country
                for (var i = 0; i < mapData.length; i++) {
                    var dataItem = mapData[i];
                    var value = dataItem.value;
                    // calculate size of a bubble
                    var square = (value - min) / (max - min) * (maxSquare - minSquare) + minSquare;
                    if (square < minSquare) {
                        square = minSquare;
                    }
                    var size = Math.sqrt(square / (Math.PI * 2));
                    var id = dataItem.code;

                    dataProvider.images.push({
                        type: "circle",
                        width: size,
                        height: size,
                        color: dataItem.color,
                        longitude: latlong[id].longitude,
                        latitude: latlong[id].latitude,
                        title: dataItem.name,
                        value: value
                    });
                }



                // the following code uses circle radius to show the difference
                /*
                for (var i = 0; i < mapData.length; i++) {
                    var dataItem = mapData[i];
                    var value = dataItem.value;
                    // calculate size of a bubble
                    var size = (value - min) / (max - min) * (maxBulletSize - minBulletSize) + minBulletSize;
                    if (size < minBulletSize) {
                        size = minBulletSize;
                    }
                    var id = dataItem.code;

                    dataProvider.images.push({
                        type: "circle",
                        width: size,
                        height: size,
                        color: dataItem.color,
                        longitude: latlong[id].longitude,
                        latitude: latlong[id].latitude,
                        title: dataItem.name,
                        value: value
                    });
                }*/



                map.dataProvider = dataProvider;

                map.write("mapdiv");
            });
        </script>
