body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.logo{
    margin-left: 62%;
    height: 100px;
    width: 100px;
}
.memt-title{
    color: #222;
    text-shadow: 0px 2px 3px #555;
    width:100%;
    text-align: center;
    font-size: 30px;
}

.memt-subtitle{
    color: #222;
    text-shadow: 0px 2px 3px #555;
    width:100%;
    text-align: center;
    font-size: 10px;
}
.format{
    float: right;
}
.feed_item {
/*border-bottom: 1px solid #9d9d9d;*/
box-shadow: 0px 2px 3px #555;
text-align: left;
padding-left: 10px;
margin-top: 10px;
}
.feed_title{
font-size: 16px;
display: inline;
color: #ccc;
}
.nav .feed_item > a{
/*border-bottom: 1px solid #9d9d9d;*/
    display: inline;
}
.strain
{
 animation-duration: 1000ms;
 animation-name: blink;
 animation-iteration-count: infinite;
 animation-direction: alternate;
-webkit-animation:blink 1000ms infinite; /* Safari and Chrome */
-moz-animation:blink 1000ms infinite;

}
@keyframes blink {
 from {
 color:red;
 }
 to {
 color:#9d9d9d;
 }
}
@-webkit-keyframes blink {
 from {
 color:red;
 }
 to {
 color:#9d9d9d;
 }
}
@-moz-keyframes blink {
 from {
 color:red;
 }
 to {
 color:#9d9d9d;
 }
}
.panel-strain{
  width: 100px;
  height:100px;
  border-radius: 50px;
  color: white;
  font-family: Verdana;
  font-size: 19px;
  text-shadow: 3px 3px #bd2d29;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  background-color: #D9534F;

}
.panel-mutation{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  font-family: Verdana;
  font-size: 17px;
  text-shadow: 3px 3px #cc5c00;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  background-color: #EF6C00;

}
.tree-strain{
    font-size: 12px;
    list-style: none;
}
.tree-mutation{
    list-style: none;
    border-left: 1px solid;
    margin-left: -25px;
    font-size: 10px;

}
.itself{
    font-weight: bold;
}

.umi{
    float: right;
}
.umi .row{
    margin-left: 0;
    margin-top: 8px;
}
.umi .col-xs-12{
    padding: 0px;
}
.umi .col-xs-12 .col-xs-1{
    padding: 0px;
}
.umi .col-xs-12 .col-xs-10{
    padding: 0px;
}

.umi #label{
    font-size: 8px;
    text-align: right;
    padding-right: 5px;
}
.umi #hash{
    font-size: 10px;
    word-wrap: break-word;
}
.umi .panel-heading{
    height: 100px;
}

.umi-tree{
    overflow-y: scroll;
    max-height: 200px;
    width: 100%;
}
.search-box{
float:right; width: 20%;
margin-right: 5%;
padding-top:8px
}

.menu{
margin-left: 1%;
}

.row-margin{
    margin-top: 5%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#countriesInMap{
    float: right;
}

.input-group .form-control{
    width: 80%;
}
#anal .tab-content{
    padding: 10px;
}
#anal .tab-content p{
    margin-left: 10px;
    font-size: 10px;
}

#anal .tab-content .tab {
    display: none;
}

#anal .tab-content .active {
    display: block;
}
