{% extends 'base/base.html' %}

{% block head %}
    {{ super() }}
    {% include "detail/js.html" %}
    {% include "detail/css.html" %}
{% endblock %}

{% block body %}
    {{super()}}
    <div id="page-wrapper">
    <div class="container-fluid">

        <div style="margin-top: 50px" class="row">

            <div class="col-lg-8 col-md-8">

                <div class="col-lg-2 col-md-2">
                    {% if not info['strain'] %}
                    <div class="panel-strain">
                        STRAIN
                    {% else %}
                    <div class="panel-mutation">
                        MUTATION
                    {% endif %}
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 umi">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-1">
                                        <div id="label">sha256</div>
                                    </div>
                                    <div class="col-xs-11">
                                        <div id="hash">{{ info.sha256 }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-1">
                                        <div id="label">md5</div>
                                    </div>
                                    <div class="col-xs-11">
                                        <div id="hash">{{ info.md5 }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-1">
                                        <div id="label">SSDeep</div>
                                    </div>
                                    <div class="col-xs-11">
                                        <div id="hash">{{ info.ssdeep }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Artifact Gen-Tree.</h3>
                    </div>
                    <div class="panel-body umi-tree">
                        <ul>
                            {% if not info['strain'] %}
                                <li class="tree-strain itself">
                                     {{ info['sha256'] }}
                                </li>
                            {% else %}
                                <li class="tree-strain">
                                    <a href="{{ url_for('detail.index', hash=info['strain']) }}">
                                        {{ info['strain'] }}
                                    </a>
                                </li>

                            {% endif %}

                            <ul>
                            {% if not info['strain'] %}
                                {% if not info['mutations'] %}
                                    <li class="tree-mutation">
                                        ⎯ Sample W/O mutations.
                                    </li>
                                {% else %}
                                    {% for mutation in info['mutations'] %}
                                        <li class="tree-mutation">
                                            ⎯ <a href="{{ url_for('detail.index', hash=mutation) }}">
                                                {{ mutation }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {% for sibling in info['siblings'] %}
                                    {% if sibling == info['sha256'] %}
                                        <li class="tree-mutation itself">
                                            ⎯ {{ sibling }}
                                        </li>
                                    {% else %}
                                        <li class="tree-mutation">
                                            ⎯ <a href="{{ url_for('detail.index', hash=sibling) }}">
                                                {{ sibling }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">X-Ray</h3>
                    </div>
                    <div id="xraycanvas">

                    </div>
                    <p style="line-height: 300px;text-align: center; vertical-align: middle; ">
                        <img src='{{ info.image }}' style="width: 300px;"/></p>
                </div>
            </div>

        </div>
        <!-- /. Artifact Geo map. NYI.
        <div class="row">
            <div class="col-lg-8">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i>Geolocation Map</h3>
                        </div>
                        <div style="background-color:#222222;" class="panel-body">
                            <div id="mapdiv" style="width: 100%; height: 285px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        -->
        <!-- Nothing to show yet. Futurely will show more info about sample, eg. Yara rules.
            <div class="col-lg-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">More info.</h3>
                </div>


            </div>
        </div>-->
        </div>
        <div id="anal" class="row">
            <div class="col-lg-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-th fa-fw"></i>Static Analysis

                    {% if info.format != "" %}
                        <span class="label label-info format">
                            {{ info.format.upper() }} Binary

                        </span>
                    {% endif %}
                    {% if info.arch != "" %}
                        <span class="label label-warning format">
                            amd64

                        </span>
                    {% endif %}

                    </h3>
                </div>
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabImports">Imports</a></li>
                        <li><a href="#tabSymbols">Symbols</a></li>
                        <li><a href="#tabSections">Sections</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tabImports" class="active">
                            {% if not info['imports'] %}
                                <p>No imports.</p>
                            {% else %}
                                {% for import in info['imports'] %}
                                    <p>{{ import }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="tabSymbols" class="tab">
                            {% if not info['symbols'] %}
                                <p>No symbols.</p>
                            {% else %}
                                {% for symbol in info['symbols'] %}
                                    <p>{{ symbol }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div id="tabSections" class="tab">
                            {% if not info['sections'] %}
                                <p>No sections.</p>
                            {% else %}
                                {% for section in info['sections'] %}
                                    <p>{{ section }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>

        </div>


    </div>
    <!-- /.container-fluid -->
{% endblock %}
