{% extends 'base/base.html' %}

{% block head %}
    {{ super() }}
    {% include "detail/js.html" %}
    {% include "detail/css.html" %}
{% endblock %}

{% block body %}
    {{super()}}
    <div id="page-wrapper">
            <div class="container-fluid">
                <div style="margin-top: 50px" class="row">
                    <div class="col-lg-8 col-md-8">

                        <div class="col-lg-4 col-md-4">
                            {% if strain %}
                            <div class="panel-strain">
                                STRAIN
                            {% else %}
                            <div class="panel-mutation">
                                MUTATION
                            {% endif %}
                            </div>

                        </div>
                        <div class="col-lg-8 col-md-8 umi">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="height: 100px;">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">SHA256 HASH</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9 text-right">
                                            <div  class="huge" style="font-size: 9px;">
                                                <p style="text-align: left;">03ba0d00b5c39aa0d8f138dfad7a487e3f8608be88f069984d17bb34728b77ce
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Artifact Gen-Tree.</h3>
                            </div>
                            <div class="panel-body umi-tree">
                                <ul>
                                    <li class="tree-strain ">
                                        <a href="">UMI-000/100/0</a>
                                    </li>
                                    <ul>
                                        <li class="tree-mutation itself">
                                            ⎯ <a href="detail.html/5309424uj234092384234hhj">UMI-000/100/1</a>
                                        </li>
                                        <li class="tree-mutation">
                                            ⎯ <a href="">UMI-000/100/2</a>
                                        </li>
                                        <li class="tree-mutation">
                                            ⎯ <a href="detail.html/5309424uj234092384234hhj">UMI-000/100/3</a>
                                        </li>
                                        <li class="tree-mutation">
                                            ⎯ <a href="">UMI-000/100/4</a>
                                        </li>
                                            <li class="tree-mutation">
                                            ⎯ <a href="detail.html/5309424uj234092384234hhj">UMI-000/100/5</a>
                                        </li>
                                        <li class="tree-mutation">
                                            ⎯ <a href="">UMI-000/100/6</a>
                                        </li>
                                        <li class="tree-mutation">
                                            ⎯ <a href="detail.html/5309424uj234092384234hhj">UMI-000/100/7</a>
                                        </li>
                                        <li class="tree-mutation">
                                            ⎯ <a href="">UMI-000/100/8</a>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">X-Ray</h3>
                            </div>

                            <p style="line-height: 300px;text-align: center; vertical-align: middle; ">
                                <img src='sample.jpg' style="width: 300px;"/></p>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i>Geolocation Map</h3>
                                </div>
                                <div style="background-color:#222222;" class="panel-body">
                                    <div id="mapdiv" style="width: 100%; height: 285px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">More info.</h3>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-th fa-fw"></i>Static Analysis</h3>
                                </div>
                                <ul class="nav nav-tabs">
                                  <li role="presentation" class="active"><a href="#">Format info</a></li>
                                  <li role="presentation"><a href="#">Imports</a></li>
                                  <li role="presentation"><a href="#">Symbols</a></li>
                                  <li role="presentation"><a href="#">Sections</a></li>
                                </ul>
                            </div>
                        </div>

                </div>


            </div>
            <!-- /.container-fluid -->
{% endblock%}
